---
import { Image } from 'astro:assets'
import SectionTitle from './SectionTitle.astro'

// 1280x691
const works = [
	{
		link: 'https://barmanager.app',
		img: '/works/barmanager.webp',
		title: 'Barmanager.app',
		description:
			'Una plataforma web para gestionar bares y restaurantes. Cuenta con una integración de Stripe para pagos, sistema de reservas y mailing.',
		stack: ['next', 'react', 'firebase', 'mongo', 'ts', 'azure'],
	},
	{
		link: 'https://trivify.es',
		img: '/works/trivify.webp',
		title: 'Trivify.es',
		description:
			'La web de Trivify con integración de email marketin y el CRM propio para la creación de juegos con Electron.',
		stack: ['react', 'js', 'mongo', 'electron', 'express'],
	},
	{
		link: 'https://gottangrill.com',
		img: '/works/gottan.webp',
		title: 'Gottan.com',
		description: 'La web de Gottan Grill. Haburguesería galardonada con la mejor burger de España y Europa en 2024',
		stack: ['react', 'ts', 'css'],
	},
	{
		link: 'https://trivify.es/cartas-qr',
		img: '/works/cartas-qr.webp',
		title: 'Cartas QR',
		description: 'La plataforma de cartas digitales de Trivify. Con mantenimiento de productos y categorías.',
		stack: ['react', 'ts', 'mongo', 'express', 'firebase'],
	},
	// {
	// 	link: 'https://smash-by-dak.pages.dev/',
	// 	img: '/works/bsmash.webp',
	// 	title: 'BSmash',
	// 	description: 'La web de Bsmash, con un menú digital propio e integración de sistema de pedido a domicilio.',
	// 	stack: ['astro', 'ts', 'css'],
	// },
	{
		link: 'https://dak-burger.pages.dev/',
		img: '/works/dak.webp',
		title: 'Dak Burger',
		description: 'La web de Dak Burger. Con un menú digital propio e integración de sistema de delivery y reservas.',
		stack: ['react', 'ts', 'next', 'css'],
	},
	{
		link: 'https://road-house.pages.dev/',
		img: '/works/roadhouse.webp',
		title: 'Smoke House',
		description: 'Diseño y Web de un Smoke House. Con menú digital propio e integración de sistema de delivery y rservas. En desarrollo.',
		stack: ['react', 'js', 'css', 'mongo'],
	},
	{
		link: 'https://domindez.github.io/pluviometria-castillodelocubin/',
		img: '/works/pluviometria.webp',
		title: 'Pluviometría Castillo',
		description: 'Una web que automatiza la recolección de datos de una estación meteorológica en Castillo de Locubín.',
		stack: ['react', 'js', 'css', 'mongo'],
	},
	{
		link: 'https://tombolator.com',
		img: '/works/tombolator.webp',
		title: 'Tombolator',
		description: 'Una plataforma para crear y jugar tómbolas. Genera tickets y reparte los premios.',
		stack: ['next', 'ts', 'react', 'mongo', 'firebase'],
	},
	{
		link: 'https://www.asadorovidio.es/',
		img: '/works/ovidio.webp',
		title: 'Asador Ovidio',
		description: 'La web del prestigioso Asador Ovidio. Con integración de menú digital propio y sistema de reservas.',
		stack: ['react', 'ts', 'css'],
	},
	{
		link: 'https://www.hotelnch.com/',
		img: '/works/nch.webp',
		title: 'Hotel NCH',
		description: 'La web del Hotel NCH. Con integración de un sistema de reservas.',
		stack: ['wordpress', 'js', 'css'],
	},
	{
		link: 'https://apartamentoslolamalaga.com',
		img: '/works/apartamentos.webp',
		title: 'Apartamentos Lola',
		description: 'La web de los Apartamentos Lola en Málaga, con integración de un motor de reservas.',
		stack: ['react', 'js', 'css'],
	},
]
---

<section id='works'>
	<SectionTitle title='Mis Trabajos' />
	<h4>Algunos de mis últimos proyectos</h4>

	<div class='container'>
		{
			works.map((work, index) => (
				<article class={index >= 6 ? 'hidden' : ''}>
					<a href={work.link} target='_blank'>
						<div class='img-container'>
							<Image height={300} width={500} src={work.img} alt={work.title} />
						</div>
						<div class='info'>
							<h3>{work.title}</h3>
							<p>{work.description}</p>
							{work.stack && (
								<ul class='stack-list'>
									{work.stack.map((tech) => (
										<li>
											<Image src={`/logos/${tech}.png`} alt={tech} height={200} width={500} />
										</li>
									))}
								</ul>
							)}
						</div>
					</a>
				</article>
			))
		}
	</div>
	<button id='load-more' class='btn'>Mostrar más</button>
</section>

<style>
	section {
		margin: 50px 10%;
	}
	h4 {
		margin-top: -30px;
		margin-bottom: 30px;
		text-align: center;
		font-weight: 400;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover .img-container img {
		transform: scale(1.1) translateY(5%);
	}

	article:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.053);
	}

	.img-container {
		overflow: hidden;
		height: 200px;
		position: relative;
	}

	.img-container::before {
		content: '';
		position: absolute;
		bottom: -20px;
		transform: rotate(5deg) scale(1.2);
		left: 0;
		width: 100%;
		height: 25px;
		background: linear-gradient(to bottom, #ffffffc5 0%, #fffffffa 40%, #ffffff 100%);
		z-index: 5;
	}

	.img-container::after {
		content: '';
		position: absolute;
		bottom: -20px;
		transform: rotate(-5deg) scale(1.2);
		right: 0;
		width: 100%;
		height: 15px;
		background: linear-gradient(to bottom, #ffffffc5 0%, #fffffffa 40%, #ffffff 100%);
		z-index: 4;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		row-gap: 50px;
	}

	/* Estado inicial oculto para la animación */
	article {
		background-color: white;
		transition: 0.3s ease-in-out;
		opacity: 0;
		transform: translateY(20px);
	}

	/* Cuando el article entra en vista se le añade la clase "animate" para activar la animación */
	article.animate {
		animation: fadeInUp 0.6s forwards;
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.info {
		padding: 20px;
		display: flex;
		flex-direction: column;
	}

	img {
		width: 100%;
		height: auto;
		transition: 0.3s ease-in-out;
	}

	h3 {
		font-size: 1em;
		margin-bottom: 10px;
	}

	p {
		line-height: 1.5em;
	}

	.stack-list {
		display: flex;
		list-style: none;
		margin-top: 20px;
		border: 1px solid #e8e8e8;
		width: fit-content;
		margin-left: auto;
		border-radius: 5px;
	}

	.stack-list li {
		display: flex;
		align-items: center;
		padding: 7px;
		gap: 0px;
	}

	.stack-list img {
		height: 25px;
		width: 25px;
		object-fit: contain;
	}

	/* Oculta los artículos con la clase "hidden" */
	.hidden {
		display: none;
	}

	.btn {
		display: block;
		margin: 50px auto 30px;
		padding: 10px 20px;
		border: none;
		background-color: #333;
		cursor: pointer;
		border-radius: 3px;
		font-size: 1em;
		color: white;
		transition: 0.3s ease-in-out;
	}

	.btn:hover {
		background-color: #5b5b5b;
	}

	@media (max-width: 1000px) {
		.container {
			grid-template-columns: repeat(2, 2fr);
		}

		.img-container {
			height: 180px;
		}
	}

	@media (max-width: 768px) {
		.container {
			grid-template-columns: repeat(1, 1fr);
		}
	}
</style>

<script>
	// Manejador de la animación cuando los elementos entran en vista
	document.addEventListener('DOMContentLoaded', () => {
		const articles = document.querySelectorAll('article:not(.hidden)')
		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add('animate')
						observer.unobserve(entry.target)
					}
				})
			},
			{ threshold: 0.1 }
		)

		articles.forEach((article) => observer.observe(article))
	})

	// Funcionalidad del botón "Mostrar más"
	const loadMoreButton = document.getElementById('load-more')
	loadMoreButton?.addEventListener('click', () => {
		// Selecciona los próximos 3 artículos que están ocultos
		const hiddenArticles = document.querySelectorAll('.container article.hidden')
		for (let i = 0; i < 3 && i < hiddenArticles.length; i++) {
			hiddenArticles[i].classList.remove('hidden')
			hiddenArticles[i].classList.add('animate')
		}
		// Si ya no quedan artículos ocultos, se oculta el botón
		if (document.querySelectorAll('.container article.hidden').length === 0) {
			loadMoreButton.style.display = 'none'
		}
	})
</script>
